* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.csc-container {
	margin: 0 auto;
	padding: 0 20px;
}

.csc-row {
	width: 100%;
	/* max-width from TS */
	min-width: 727px;
	margin: 0 auto;
}
.csc-row .csc-row {
	min-width: 0;
}

[class*="csc-span-"] {
	margin-left: 4.4%;
	float: left;
	min-height: 1px;
	max-width: 100%;
	position: relative;
}
[class*="csc-span-"]:first-child {
	margin-left: 0;
}
[class*="csc-span-"] + [class*="csc-span-"]:last-child {
	float: right;
}
[class*="csc-span-"] + [class*="column"].end {
	float: left;
}

.csc-row .csc-span-1  { width: 4.3%;    }
.csc-row .csc-span-2  { width: 13%;     }
.csc-row .csc-span-3  { width: 21.679%; }
.csc-row .csc-span-4  { width: 30.37%;  }
.csc-row .csc-span-5  { width: 39.1%;   }
.csc-row .csc-span-6  { width: 47.8%;   }
.csc-row .csc-span-7  { width: 56.5%;   }
.csc-row .csc-span-8  { width: 65.2%;   }
.csc-row .csc-span-9  { width: 73.9%;   }
.csc-row .csc-span-10 { width: 82.6%;   }
.csc-row .csc-span-11 { width: 91.3%;   }
.csc-row .csc-span-12 { width: 100%;    }

.csc-row .csc-offset-1  { margin-left: 13.1%; }
.csc-row .csc-offset-2  { margin-left: 21.8%; }
.csc-row .csc-offset-3  { margin-left: 30.5%; }
.csc-row .csc-offset-4  { margin-left: 39.2%; }
.csc-row .csc-offset-5  { margin-left: 47.9%; }
.csc-row .csc-offset-6  { margin-left: 56.6%; }
.csc-row .csc-offset-7  { margin-left: 65.3%; }
.csc-row .csc-offset-8  { margin-left: 74.0%; }
.csc-row .csc-offset-9  { margin-left: 82.7%; }
.csc-row .csc-offset-10 { margin-left: 91.4%; }

.csc-row .csc-align-center { float: none; margin: 0 auto; }

.csc-row .csc-offset-1:first-child  { margin-left: 8.7%;  }
.csc-row .csc-offset-2:first-child  { margin-left: 17.4%; }
.csc-row .csc-offset-3:first-child  { margin-left: 26.1%; }
.csc-row .csc-offset-4:first-child  { margin-left: 34.8%; }
.csc-row .csc-offset-5:first-child  { margin-left: 43.5%; }
.csc-row .csc-offset-6:first-child  { margin-left: 52.2%; }
.csc-row .csc-offset-7:first-child  { margin-left: 60.9%; }
.csc-row .csc-offset-8:first-child  { margin-left: 69.6%; }
.csc-row .csc-offset-9:first-child  { margin-left: 78.3%; }
.csc-row .csc-offset-10:first-child { margin-left: 87.0%; }
.csc-row .csc-offset-11:first-child { margin-left: 95.7%; }

/* Nicolas Gallagher's micro clearfix */
.csc-row:before, .csc-row:after { content:""; display:table; }
.csc-row:after { clear: both; }
.csc-row { zoom: 1; }

/* helper */
.csc-show-phone    { display: none !important;  }
.csc-show-tablet   { display: none !important;  }
.csc-show-desktop  { display: block !important; }
.csc-hide-phone    { display: block !important; }
.csc-hide-tablet   { display: block !important; }
.csc-hide-desktop  { display: none !important;  }

/* media elements */
.csc-image,
.csc-default img,
.csc-default object,
.csc-default embed {
	display: block;
	max-width: 100%;
	height: auto;
}
img {
	-ms-interpolation-mode: bicubic;
}

/* Image, left of text */
.csc-orientation-left .csc-imagewrap,
.csc-orientation-floatleft .csc-imagewrap {
	margin-right: 4.4%;
}
.csc-orientation-left .csc-margin-1,
.csc-orientation-floatleft .csc-margin-1 {
	margin-right: 13%;
}


/* Image, right of text */
.csc-orientation-right .csc-imagewrap,
.csc-orientation-floatright .csc-imagewrap {
	margin-left: 4.4%;
}
.csc-orientation-right .csc-margin-1,
.csc-orientation-floatright .csc-margin-1 {
	margin-left: 13%;
}

/* Orientation, center */
.csc-orientation-centertop .csc-imagewrap,
.csc-orientation-centerbottom .csc-imagewrap {
	float: none;
}

.csc-orientation-righttop .csc-imagewrap,
.csc-orientation-rightbottom .csc-imagewrap,
.csc-orientation-lefttop .csc-imagewrap,
.csc-orientation-leftbottom .csc-imagewrap {
	margin-right: 0;
	margin-left: 0;
}

/* caption */
.csc-caption {
	display: block;
}

/* Imagewrap */
.csc-imagewrap,
.csc-content-image .csc-imagewrap {
	max-width: 100%;
}

.csc-orientation-right .csc-imagewrap,
.csc-orientation-righttop .csc-imagewrap,
.csc-orientation-rightbottom .csc-imagewrap,
.csc-orientation-floatright .csc-imagewrap,
.csc-orientation-left .csc-imagewrap,
.csc-orientation-lefttop .csc-imagewrap,
.csc-orientation-leftbottom .csc-imagewrap,
.csc-orientation-floatleft .csc-imagewrap {
	max-width: 47.8%;
}

.csc-orientation-floatleft .csc-imagewrap {
	margin-left: 0;
}

[class*="csc-columns-"] .csc-column {
	margin-right: 0;
	margin-left: 0;
}
.csc-columns-1 .csc-column {
	max-width: 100%;
}
.csc-columns-2 .csc-column {
	max-width: 48%;
	margin-left: 4%
}
.csc-columns-3 .csc-column {
	max-width: 30.66%;
	margin-left: 4%
}
.csc-columns-4 .csc-column {
	max-width: 22%;
	margin-left: 4%;
}
.csc-columns-5 .csc-column {
	max-width: 16.8%;
	margin-left: 4%;
}
.csc-columns-6 .csc-column {
	max-width: 13.33%;
	margin-left: 4%;
}
.csc-columns-7 .csc-column {
	max-width: 10.85%;
	margin-left: 4%;
}
.csc-columns-8 .csc-column {
	max-width: 9%;
	margin-left: 4%;
}
.csc-columns-9 .csc-column {
	max-width: 7.55%;
	margin-left: 4%;
}
.csc-columns-10 .csc-column {
	max-width: 6.4%;
	margin-left: 4%;
}
.csc-columns-11 .csc-column {
	max-width: 5.45%;
	margin-left: 4%;
}
.csc-columns-12 .csc-column {
	max-width: 4.66%;
	margin-left: 4%;
}

[class*="csc-columns-"] .csc-column-first {
	margin-left: 0;
	margin-right: 0;
}
.csc-column:first-child {
	margin-left: 0;
}
.csc-column .csc-image {
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
}

/* Text */
.csc-text-columns-1 {
	-webkit-column-count: auto;
	   -moz-column-count: auto;
	        column-count: auto;
}
.csc-text-columns-2 {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	        column-count: 2;
}
.csc-text-columns-3 {
	-webkit-column-count: 3;
	   -moz-column-count: 3;
	        column-count: 3;
}
.csc-text-columns-4 {
	-webkit-column-count: 4;
	   -moz-column-count: 4;
	        column-count: 4;
}
.csc-text-columns-5 {
	-webkit-column-count: 5;
	   -moz-column-count: 5;
	        column-count: 5;
}
.csc-text-columns-6 {
	-webkit-column-count: 6;
	   -moz-column-count: 6;
	        column-count: 6;
}
.csc-text-columns-7 {
	-webkit-column-count: 7;
	   -moz-column-count: 7;
	        column-count: 7;
}
.csc-text-columns-8 {
	-webkit-column-count: 8;
	   -moz-column-count: 8;
	        column-count: 8;
}
.csc-text-columns-9 {
	-webkit-column-count: 9;
	   -moz-column-count: 9;
	        column-count: 9;
}
.csc-text-columns-10 {
	-webkit-column-count: 10;
	   -moz-column-count: 10;
	        column-count: 10;
}
.csc-text-columns-11 {
	-webkit-column-count: 11;
	   -moz-column-count: 11;
	        column-count: 11;
}
.csc-text-columns-12 {
	-webkit-column-count: 12;
	   -moz-column-count: 12;
	        column-count: 12;
}

/**
* Phone
* 0 - 768
*/
@media (max-width: 767px) {
	body {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;

		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}

	.csc-container {
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.csc-row {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.csc-row .csc-row [class*="csc-span-"] {
		padding: 0;
	}

	[class*="csc-span-"] {
		width: auto !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	[class*="csc-span-"]:last-child {
		margin-right: 0;
		float: none;
	}
	[class*="csc-span-"] + [class*="csc-span-"]:last-child {
		float: none;
	}
	[class*="csc-span-"]:before,
	[class*="csc-span-"]:after {
		content: "";
		display: table;
	}
	[class*="csc-span-"]:after {
		clear: both;
	}

	.csc-row [class*="csc-offset-"] {
		margin-left: 0 !important;
	}

	/* image */
	.csc-imagewrap {
		clear: both;
		max-width: 100%;
		float: none !important;
	}
	.csc-imagewrap .csc-column {
		float: left;
		max-width: 100%;
	}

	.csc-columns-2 .csc-image,
	.csc-columns-2 .csc-column,
	.csc-columns-3 .csc-image,
	.csc-columns-3 .csc-column,
	.csc-columns-4 .csc-image,
	.csc-columns-4 .csc-column,
	.csc-columns-5 .csc-image,
	.csc-columns-5 .csc-column,
	.csc-columns-6 .csc-image,
	.csc-columns-6 .csc-column,
	.csc-columns-7 .csc-image,
	.csc-columns-7 .csc-column,
	.csc-columns-8 .csc-image,
	.csc-columns-8 .csc-column {
		float: none;
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}


	/* text */
	.csc-text {
		clear: both;
	}
}

/**
 * HELPER
 */

/* desktop */
.csc-show-phone   { display: none !important;  }
.csc-show-tablet  { display: none !important;  }
.csc-show-desktop { display: block !important; }
.csc-hide-desktop { display: none !important;  }

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
	.csc-show-phone   { display: none !important;  }
	.csc-show-tablet  { display: block !important; }
	.csc-show-desktop { display: none !important;  }
	.csc-hide-tablet  { display: none !important;  }
}

/* phone */
@media (max-width: 767px) {
	.csc-show-phone   { display: block !important; }
	.csc-show-tablet  { display: none  !important; }
	.csc-show-desktop { display: none !important;  }
	.csc-hide-phone   { display: none !important;  }
}